.about-container {
    width: 100%;
}

.about-heading {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-style: normal;
    letter-spacing: -4px;
    line-height: 90px;
}

.about-heading h1 {
    color: rgba(255, 255, 255, 1);
}

.about-heading span {
    color: rgba(3, 205, 149, 1);
}

.about-us-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.about-us-img img {
    width: 900px;
    height: 600px;
}

.about-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 70%;
    color: rgba(255, 255, 255, 0.9);
    margin: 80px auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
}

@media (max-width: 1024px) {
    .about-heading {
        font-size: 50px;
    }

    .about-us-img img {
        width: 800px;
        height: 500px;
    }

    .about-us-info {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .about-heading {
        font-size: 45px;
    }

    .about-us-img img {
        width: 700px;
        height: 450px;
    }

    .about-us-info {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .about-heading {
        margin-top: 150px;
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 80px;
    }

    .about-us-img {
        margin-top: 100px;
    }

    .about-us-img img {
        width: 550px;
        height: 350px;
    }

    .about-us-info {
        font-size: 14px;
        line-height: 26px;
        margin: 60px auto;
    }
}

@media (max-width: 600px) {
    .about-heading {
        margin-top: 120px;
        font-size: 36px;
    }

    .about-us-img {
        margin-top: 80px;
    }

    .about-us-img img {
        width: 450px;
        height: 300px;
    }

    .about-us-info {
        font-size: 14px;
        line-height: 26px;
        margin: 60px auto;
    }
}

@media (max-width: 425px) {
    .about-heading {
        font-size: 32px;
    }

    .about-us-img {
        margin-top: 80px;
    }

    .about-us-img img {
        width: 90%;
        height: 250px;
    }

    .about-us-info {
        font-size: 12px;
        line-height: 22px;
        margin: 40px auto;
    }
}

@media (max-width: 375px) {
    .about-heading {
        font-size: 28px;
    }

    .about-us-img {
        margin-top: 60px;
    }
}

@media (max-width: 320px) {
    .about-heading {
        font-size: 26px;
        margin-top: 60px;
    }

    .about-us-img {
        margin-top: 60px;
    }

    .about-us-img img {
        height: 200px;
    }

    .about-us-info {
        font-size: 11px;
        line-height: 20px;
        margin: 30px auto;
    }
}