.portfolio-container {
    width: 100%;
}

.portfolio-heading {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 100px;
}

.portfolio-heading h1 {
    color: rgba(255, 255, 255, 1);
}

.portfolio-heading span {
    color: rgba(3, 205, 149, 1);
}

.portfolio-details {
    margin: 150px 300px;
    display: flex;
    flex-direction: column;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio:nth-child(odd) {
    align-items: flex-start;
}

.portfolio:nth-child(even) {
    align-items: flex-end;
}

.portfolio img {
    width: 435px;
    height: 325px;
}

.portfolio h6 {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
}

.portfolio p {
    width: 435px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .portfolio-heading {
        margin-top: 120px;
    }

    .portfolio-details {
        margin: 100px;
    }

    .portfolio img {
        width: 335px;
        height: 225px;
    }

    .portfolio p {
        width: 335px;
    }
}

@media (max-width: 900px) {
    .portfolio-details {
        margin: 100px 70px;
    }
}

@media (max-width: 768px) {
    .portfolio-heading {
        margin-top: 80px;
        font-size: 46px;
        line-height: 80px;
    }

    .portfolio-details {
        margin: 100px 60px;
    }

    .portfolio img {
        width: 250px;
        height: 170px;
    }

    .portfolio h6 {
        font-size: 16px;
        line-height: 80%;
        margin-top: 20px;
    }

    .portfolio p {
        width: 250px;
        font-size: 12px;
        line-height: 120%;
        margin-top: 8px;
    }
}

@media (max-width: 600px) {
    .portfolio-heading {
        margin-top: 80px;
        font-size: 40px;
    }

    .portfolio-details {
        margin: 100px 40px;
    }

    .portfolio img {
        width: 250px;
        height: 170px;
    }
}

@media (max-width: 500px) {
    .portfolio-heading {
        margin-top: 60px;
    }

    .portfolio-details {
        margin: 100px 60px;
        gap: 40px;
    }

    .portfolio:nth-child(odd),
    .portfolio:nth-child(even) {
        align-items: center;
    }

    .portfolio img {
        width: 100%;
        height: 220px;
    }

    .portfolio p {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .portfolio-heading {
        font-size: 36px;
    }

    .portfolio-details {
        margin: 80px 40px;
    }

    .portfolio img {
        width: 345px;
        height: 200px;
    }

    .portfolio p {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .portfolio-details {
        margin: 60px 30px;
    }

    .portfolio img {
        width: 315px;
        height: 180px;
    }
}

@media (max-width: 320px) {
    .portfolio-heading {
        font-size: 32px;
        margin-top: 40px;
    }

    .portfolio-details {
        margin: 50px 20px;
    }

    .portfolio img {
         width: 280px;
        height: 160px;
    }
}